@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.encode-font {
  font-family: "Encode Sans Expanded", sans-serif;
}

.__resume a {
  height: 30px;
  width: 70px;
  background-color: #4db4ff;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 550;
}

.__resume a:hover {
  background-color: #808080;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.__moon-star {
  height: 20px;
}
.__moon-star:hover {
  cursor: pointer;
  color: gray;
}
hr {
  width: 100%;
  margin: 10px 0px;
}
.__mainHero h2 {
  color: #4db4ff;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* type writer main hero style */

.typewriter p {
  max-width: 435px;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 10.275s steps(93, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* hero img */
.hero_img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url("./main_img.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #4db4ff;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 300px;
  position: relative;
  transition: all 1s ease-in-out;
  width: 300px;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 60% 70% 30%/30% 70% 40% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
